/* ================================= 
  Element Styles
==================================== */

input {
  font-size: 1.12em;
  padding-left: 0;
  background: white;
  border: none;
  outline: 0;
  transition: border-color .4s;
  border-radius: 3px;
} 

.search-button {
  font-size: 1.12em;
  margin-left: 10px;
  border-radius: 3px;
  color: #293d51;
  border-bottom-color: blue;
  border-color:white;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}


/* ================================= 
  Layout Styles
==================================== */

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
  .search-form {
    width: 422px;
  }
}

.Complete{
  background-color: rgb(67, 170, 67);
  /* background-color: rgb(36, 49, 163); */
  color: aliceblue;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.Pending{
  background-color: #fec42d;
  color: aliceblue;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.Processing{
  background-color:#009df6;
  color: aliceblue;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.vinImage{
  border-color: red;
}